@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2');
}


body{
  background-color: #1E0338;
}

.login-button{
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}
.login-button:hover{
  background: linear-gradient(89.9deg, #FD749B -13.56%, #281AC8 158.3%);
  transition: 0.3s all;
}

.active{
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}
.count-btn{
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  
}

.search-input{
  background-image: url("./assets/images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 14px 13px;
  background-position: 27px center;
}
.active-pending{
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
}